<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="localhost_VS_HRM_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;user id=;password=;initial catalog=VS_HRM;Persist Security Info=true" />
    <add name="localhost_CMMS_VNO_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;user id=;password=;initial catalog=CMMS_VNO;Persist Security Info=true" />
    <add name="localhost_CMMS_VNO_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=.;user id=;password=;initial catalog=CMMS_VNO;Persist Security Info=true" />
    <add name="localhost_CMMS_VNO_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.72;user id=;password=;initial catalog=CMMS_VNO;Persist Security Info=true" />
    <add name="localhost_CMMS_VNO" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CMMS_VNO" />
    <add name="localhost_CMMS_VNO_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CMMS_VNO" />
    <add name="localhost_CMMS_VNO_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CMMS_VNO" />
    <add name="localhost_VS_HRM_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=VS_HRM" />
    <add name="localhost_VS_HRM_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=VS_HRM;Persist Security Info=true" />
    <add name="localhost_VS_HRM_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=.;user id=;password=;initial catalog=VS_HRM;Persist Security Info=true" />
    <add name="localhost_VS_HRM_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=.\sql2008;user id=;password=;initial catalog=VS_HRM;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>